.Dev{
  margin-top: 5%;
  margin-bottom: 5%;
}

.card{
  width: 100%;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 500px;
  border: 2px solid #009970;
  box-shadow: none;
  background-color: inherit;
}

.card .box{
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: white;
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
}

.card .box.front {
  background-image: url(img/pattern.png);
  background-repeat: no-repeat;
}

.card .box.front,
.card .box.back{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .box.front img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid black;
  margin-bottom: 25px;
}

.card:hover .box.front{
  transform: rotateY(180deg);
}

.box.front h2{
  font-family: "Times New Roman", Times, serif;
}

.box.front h4{
  font-size: 18px;
  letter-spacing: 2px;
}

.socials{
  margin: 0 15px;
}

.card .box.back{
  position: absolute;
  background: white;
  transform: rotateY(180deg);
  padding: 20px 30px;
  text-align: center;
  user-select: none;
}

.card .box.back .fa-quote-left{
  position: absolute;
  top: 25px;
  left: 180px;
  font-size: 3.2rem;
}

.card:hover .box.back{
  transform: rotateX(360deg);
}

@media only screen and (max-width: 768px){
  .card{
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: 2px solid #009970;
    box-shadow: none;
    background-color: inherit;
    margin-bottom: 20px;
  }
}