#wallet-balance{
    color: #00b383;
    padding: 20px;
}

/* Navbar Styles */
html {
    scroll-behavior: smooth;
}

/* .fixed-top{
    overflow: hidden;
} */

.navbar {
    background-color: transparent;
    height: 100px;
    z-index: 2999;
    transition: background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    font-weight: 500; /* Ensure consistent font weight */
}

.navbar-scrolled {
    background-color: rgba(52, 59, 64, 0.9);
    font-weight: 500; /* Ensure consistent font weight */
}

.navbar-brand img {
    width: auto;
    height: 100px;
    display: block;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color, font-weight 0.3s ease-in-out;
}

.offcanvas-top {
    top: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    color: #000;
}

.offcanvas-top.show {
    transform: translate3d(0, 0, 0);
}

.authbutton {
    color: #000;
    font-size: 1em;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.authbutton:hover {
    background-color: transparent;
    border: solid #fff;
}

.logoutButton {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.navbar-toggler {
    border: none;
    font-size: 1.2rem;
    background-color: none;
    color: #fff;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.nav-link {
    color: #000;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #fff;
}

.navbar-icon {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.navbar-icon svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    margin-top: 10px;
}

.dropdown-menu a {
    display: flex;
    align-items: center;
}

@media (min-width: 991px) {
    .nav-link {
        color: #fff;
        font-weight: 500;
        position: relative;
    }

    .authbutton {
        color: #fff;
        font-size: 1em;
        margin-right: 15px;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        display: block;
        font-weight: 500;
    }

    .logoutButton {
        color: #fff;
        margin: 1rem;
        font-weight: 500;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #00b383;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .offcanvas-body .button {
        padding: 8px 10px;
        font-size: 17px;
        margin: 2px 20px 2px 2px;
    }
}

/* Notification Dropdown Styles */
#notification-dropdown {
    position: relative;
    display: inline-block;
}

#notification-icon {
    cursor: pointer;
    position: relative;
}

#notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none; /* Initially hidden */
}

#notification-popup {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(75, 75, 75);
    max-height: 700px;
    min-width: 400px;
    overflow-y: auto;
    z-index: 1000;
}

#notifications-list {
    padding: 10px;
}

.notification-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.notification-item.error {
    background-color: #ff6961;
    color: #fff;
}

.notification-item.success {
    background-color: #77dd77;
    color: #fff;
}

.notification-item.warning {
    background-color: #ffd700;
    color: #fff;
}

.notification-item p {
    margin: 0;
}

.notification-item:hover {
    background-color: #f2f2f2;
}

.dropdown-header {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

.dropdown-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

#mark-all-read-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mark-all-read-btn:hover {
    background-color: #0056b3;
}