/* Hero Section Styles */
#hero:before {
    content: "";
    /* background: rgba(0, 0, 0, 0.6); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
}

#hero h2 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    position: relative;
    z-index: 1;
}

#hero .waves {
    position: absolute;
    bottom: 0;

}

/* .hero-section {
    background: url(../img/Banner-Desktop.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} */

.hero-section video{
    
    width: 100vw;
    height: 98vh;
    object-fit: cover;
    /* filter: brightness(80%); */
}


/* @keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-head-container {
  animation: fadeInFromTop 7s ease-out forwards;
} */


.hero-section-header {
    overflow: hidden;
    border-right: 0.15em solid black;
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end) 1s,
    blink-caret 0.75s step-end infinite 1s;

}

/* Typewriter effect animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Blinking cursor animation */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.hero-section video {
    width: 100vw;   
    height: 98vh;
    object-fit: cover;
}

.hero-section-header {
    overflow: hidden;
    border-right: 0.15em solid black;
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end) 1s,
        blink-caret 0.75s step-end infinite 1s;

}

/* Typewriter effect animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Blinking cursor animation */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}



.wavesection {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: #23A884; */
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

.wave3 {
    animation: animate3 10s linear infinite;
    z-index: 998;
    opacity: 0.7;
    animation-delay: -10s;
    bottom: 15px;
}

@keyframes animate3 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -2000px;
    }
}

.wave4 {
    animation: animate4 20s linear infinite;
    z-index: 997;
    opacity: 0.2;
    animation-delay: -15s;
    bottom: 20px;
}

@keyframes animate4 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -3000px;
    }
}
@media (max-width: 768px) {
    #hero h1 {
        margin: 30px 0 10px 0;
        font-size: 20px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        z-index: 1;
    }
}