/* projects section */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

#intro {
    text-align: center;
}

#intro h1 {
    font-size: 2em;
    margin: 3rem 0;
}

#intro p {
    margin-top: 3rem;
    font-size: 0.8em;
    margin-bottom: 3rem;
}

.searchSection {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1px auto;
    height: 3rem;
    border-radius: 1rem;
    border: solid gray;
    align-items: center;
    width: 75%;

}

.searchField {
    width: 100%;
    margin: 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    background: transparent;

}

.material-symbols-outlined {
    font-size: 25px;
    margin: 1rem;
}

/* Projectipn Section */

.projectSection {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.projectSection .row {
    width: 100%;
}

.projectSection img {
    height: 40vh;
    width: 100%;

}

.projectSection .kcontainer {
    position: relative;
    margin: 4px;
}

.projectSection .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.6s ease-in-out;
    transform: translateY(30px);
}

.projectSection .kcontainer:hover .overlay {
    opacity: 1;
    cursor: pointer;
    transform: translateY(0px);

}

.projectSection .kcontainer img {
    transition: filter 0.6 ease ease-in-out;
}

.projectSection .kcontainer:hover img {
    filter: brightness(30%);
}

.projectSection .progress {
    width: 100%;
    color: #009970;
}

.projectSection .viewmore {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.projectSection .viewmore p {
    right: 0;
    margin: 1rem 0;
    text-align: center;
}

.projectSection .viewmore p:hover {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .projectSection .kcontainer {
        flex: 0 0 calc(33.33% - 8px);

    }
}

@media only screen and (max-width: 991px) {
    .projectSection .kcontainer {
        flex: 0 0 calc(50% - 8px);

    }
}

@media only screen and (max-width: 767px) {
    .projectSection .kcontainer {
        flex: 0 0 calc(100% - 8px);

    }
}

/* Project Section */

.projectSection {
    margin: 1rem auto;
    width: 80%;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.filter-buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    /* Set initial background color */
    border: solid 1px;
    /* Remove border */
    cursor: pointer;
    border-radius: 10px;
}

.filter-buttons button:hover {
    background-color: black;
    /* Change background color on hover */
    color: white;
    /* Change text color on hover */
}

#campaignList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .projectSection {
        width: 90%;
    }

    .filter-buttons {
        flex-wrap: wrap;
    }

    .filter-buttons button {
        margin: 0.5rem 0.25rem;
    }
}

/* CSS for the search button */
.searchButton {
    background-color: transparent;
    /* Set background color to transparent */
    border: none;
    /* Remove border */
    cursor: pointer;
    /* Change cursor to pointer */
    padding: 0;
    /* Remove padding */
}

/* CSS for the search icon */
.searchButton .material-symbols-outlined {
    color: #000;
    /* Set icon color to black */
    font-size: 1.5rem;
    /* Adjust icon size */
    background-color: transparent;
    /* Set background color of icon to transparent */
    border: none;
    /* Remove border */
}

/* Make the search section responsive */
.searchSection {
    display: flex;
    align-items: center;
}

.searchField {
    flex: 1;
    /* Take up remaining space */
    margin-right: 1rem;
    /* Add some spacing between input and button */
}

@media (max-width: 768px) {
    .searchButton {
        padding: 0.5rem;
        /* Adjust button padding for smaller screens */
    }

    .searchButton .material-symbols-outlined {
        font-size: 1.2rem;
        /* Decrease icon size for smaller screens */
    }
}