/* Container for the investment modal */
.modalinvest {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
}

/* Modal content */
.modal-content-invest {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    position: relative; /* For positioning close button */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* The close button */
.close-invest {
    color: #aaa;
    position: absolute; /* Position it relative to the modal content */
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Close button hover effects */
.close-invest:hover,
.close-invest:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form inside the modal */
#investmentForm {
    display: flex;
    flex-direction: column;
}

#investmentForm label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    top: 0;
}

#investmentForm input {
    margin: auto;
    padding: 7px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#investmentForm button {
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2rem auto;
}

#investmentForm button:hover {
    background-color: #000;
    color: #fff;
}
