/* Global Styles */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

/* Initial state for hidden elements */
.hidden {
    opacity: 0;
    transform: translateY(20px);
}

/* State for visible elements */
.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

/* Projects Section */
#intro {
    margin: 5rem;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

#intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000;
    animation: slideIn 1s ease-in-out;
}

/* Project List */
#projectList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    max-width: 1400px;
    animation: fadeIn 1s ease-in;
}

.campaign-card {
    box-shadow: 5px 4px 8px 2px rgba(19, 19, 19, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.2s;
    animation: grow 0.5s ease-in-out;
}

.campaign-card:hover {
    transform: translateY(-10px);
}

.campaign-card img {
    margin-bottom: 15px;
    width: 100%;
    height: 30vh;
    animation: fadeIn 1s ease-in;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
    width: 100%;
}

.progress-bar-fill {
    background-color: #4caf50;
    height: 100%;
    line-height: 20px;
    color: white;
    text-align: center;
    transition: width 0.4s ease;
}

.view-details-btn {
    margin-top: 0.5rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.view-details-btn:hover {
    background-color: black;
    color: white;
}

.close-btn {
    color: rgb(117, 117, 117);
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(185, 71, 71);
}

.campaign-card h3 {
    font-size: 18px;
}

.raised-amount-text {
    font-weight: bold;
}

.project-title {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}

.goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.raised-amount-text {
    font-size: 16px;
    color: #333;
}

.target-amount {
    font-size: 16px;
    color: #333;
    margin: 0;
}

/* Numbers Section */
.numbers {
    margin-top: 15px;
    height: 500px;
    background-color: #fcfcfc;
    padding: 2rem;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

.number-item {
    display: inline-block;
    margin: 60px 1rem;
    text-align: center;
    width: 150px;
    animation: slideIn 1s ease-in;
}

.number-item-value {
    background-color: #000;
    border: 2px solid #fff;
    margin-top: 30px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 105px;
    width: 115px;
    animation: grow 0.5s ease-in-out;
}

.number-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 20px !important;
    color: #000;
}

.circle-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.numbers-topic {
    font-size: 2rem;
    animation: fadeIn 1s ease-in;
}

.stats-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: fadeIn 1s ease-in;
}

/* About Section */
#about {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem auto;
    animation: fadeIn 1s ease-in;
}

.about-content {
    width: 50%;
    margin-left: 5rem;
}

.about-content h2 {
    font-size: 0.9rem;
    color: #000;
    animation: slideIn 1s ease-in-out;
}

.about-content h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #000;
    animation: slideIn 1s ease-in-out;
}

.about-content p {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: grey;
    animation: fadeIn 1s ease-in;
}

.about-content button {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    border: solid 1px #000;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeIn 1s ease-in;
}

.about-content button:hover {
    background-color: #000;
    color: #fff;
}

.about-image {
    width: 35%;
    text-align: left;
    margin: 1rem auto;
}

.about-image img {
    width: 100%;
    height: auto;
    left: 0;
    animation: fadeIn 1s ease-in;
}

/* Feedback Section */
#feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    animation: fadeIn 1s ease-in;
}

.feedback-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px);
    margin: 20px;
    box-sizing: border-box;
    transition: transform 0.2s;
    height: 30vh;
    animation: grow 0.5s ease-in-out;
}

.feedback-card:hover {
    transform: translateY(-10px);
}

.feedback-header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.feedback-info {
    font-size: 14px;
    color: #555;
    display: flex;
    justify-content: left;
    font-weight: bold;
}

.feedback-message {
    font-size: 16px;
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.6;
    display: flex;
    justify-content: left;
    margin-top: 20px;
    position: relative;
    margin-left: 10px;
}

.border-top,
.border-bottom {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rating span {
    margin-right: 5px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.rating img {
    width: 20px;
    height: 20px;
}

/* Testimonials */
#testimonials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    color: #000;
    animation: fadeIn 1s ease-in;
}

.testimonial-content-above {
    width: 100%;
    margin-bottom: 50px;
}

.testimonial {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    padding: 1rem;
    margin: 5px;
    animation: grow 0.5s ease-in-out;
}

.testimonial p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

/* Responsive Styling */
/* For screens smaller than 1200px */
@media (max-width: 1200px) {
    #projectList {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem auto;
    }

    .about-content {
        margin-left: 2rem;
        width: 60%;
    }

    .about-image {
        width: 40%;
    }
}

/* For screens smaller than 992px */
@media only screen and (max-width: 992px) {
    .testimonial {
        width: calc(50% - 20px);
    }

    .stats-container {
        flex-direction: column;
        align-items: center;
    }

    .circle-div {
        flex-direction: row;
        align-items: center;
    }

    .number-item {
        margin: 30px 0;
        width: 130px;
    }

    .number-item-value {
        font-size: 1.2rem;
        height: 95px;
        line-height: 96px;
        width: 105px;
        margin-left: 0;
    }

    .numbers {
        height: 100vh;
    }

    .stats-card {
        width: 60vw;
    }

    .projectSection .kcontainer {
        flex: 0 0 calc(50% - 8px);
    }
}

/* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: center;
    }

    .about-content {
        width: 90%;
        margin-left: 0;
        text-align: center;
    }

    .about-image {
        width: 90%;
        margin-top: 1rem;
    }

    .about-image img {
        width: 100%;
    }

    #hero h1 {
        font-size: 1.5rem;
    }

    .circle-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    .number-item {
        display: inline-block;
        margin: 30px 1rem;
        text-align: left;
        width: 110px;
    }

    .numbers-topic {
        font-size: 1.5rem;
    }

    .number-item p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        color: white;
        margin-right: 0px;
    }

    .numbers {
        margin-top: 100px;
        padding: 1.5rem;
        height: 100vh;
    }

    .stats-container {
        margin-top: 40px;
    }

    .number-item {
        margin: 20px 0;
        width: 110px;
    }

    .number-item-value {
        font-size: 1rem;
        height: 85px;
        line-height: 86px;
        width: 95px;
    }

    .stats-card {
        width: 90vw;
    }

    .projectSection .kcontainer {
        flex: 0 0 calc(33.33% - 8px);
    }

    .modal-content-invest {
        width: 70%;
    }

    #projectList {
        grid-template-columns: 1fr;
        margin: 1rem auto;
    }
}

/* For screens smaller than 576px */
@media only screen and (max-width: 576px) {
    .testimonial {
        width: calc(100% - 20px);
    }

    .projectSection .kcontainer {
        flex: 0 0 calc(100% - 8px);
    }

    #feedback-container {
        display: flex;
        flex-direction: column;
        width: 296vw;
    }

    .feedback-card {
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .rating img {
        width: 15px;
        height: 15px;
    }

    .feedback-message {
        margin: 5px 0;
        font-size: 14px;
    }

    .feedback-info {
        font-size: 12px;
    }

    .border-top,
    .border-bottom {
        margin: 5px 0;
    }

    .number-item p {
        color: #000;
    }

    #about {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .about-content {
        padding-bottom: 20px;
        width: 70%;
        margin-left: 0rem;
    }

    .about-image {
        margin-top: 20px;
    }

    #testimonials {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 120vh;
        color: #f9971e;
    }

    .numbers {
        margin-top: 80px;
        padding: 1rem;
    }

    .stats-container {
        margin-top: 30px;
    }

    .number-item {
        margin: 15px 0;
        width: 100px;
    }

    .number-item-value {
        font-size: 0.9rem;
        height: 75px;
        line-height: 76px;
        width: 85px;
    }

    .number-item p {
        font-size: 0.7rem;
    }
}