.success, .error {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

#profile-container {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-bottom: 80px;
  margin-top: 80px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

#profile-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

#profile-info .details-and-actions {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 30px;
}

#profile-info .details {
  flex: 1;
}

#profile-info .profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

#profile-info img {
  object-fit: cover;
  width: 550px;
  height: 400px;
}

#profile-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

#profile-actions a {
  display: inline-block;
  padding: 10px 20px;
  width: 200px;  /* Fixed width for buttons */
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  flex: none;  /* Ensure flex doesn't stretch the buttons */
  border: solid;
}

#profile-actions a:hover {
  background-color: #000;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  #profile-info {
    flex-direction: column;
    align-items: center;
  }

  #profile-info img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }

  #profile-info .details-and-actions,
  #profile-info .profile-picture {
    max-width: 100%;
    margin-left: 0;
  }

  #profile-info .profile-picture {
    margin-top: 20px;
  }

  #profile-container {
    width: 90%;
  }
  #profile-actions a {
    display: inline-block;
    padding: 10px 20px;
    width: 150px;  /* Fixed width for buttons */
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    flex: none;  /* Ensure flex doesn't stretch the buttons */
    border: solid;
  }
  #profile-info .details-and-actions {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
  }
  h2{
    font-size: 30px;
  }
}
