body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#campaignList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.campaign-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.2s;
}

.campaign-card:hover {
    transform: translateY(-10px);
}

.campaign-card img {
    margin-bottom: 15px;
    width: 100%;
    height: 30vh;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
    width: 100%;
}

.progress-bar-fill {
    background-color: #4caf50;
    height: 100%;
    line-height: 20px;
    color: white;
    text-align: center;
    transition: width 0.4s ease;
}

.view-details-btn {
    margin-top: 0.5rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.view-details-btn:hover {
    background-color: black;
    color: white;
}
.view-transactions-btn:hover {
    background-color: #45a049;
}

.close-btn {
    color: rgb(117, 117, 117);
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(185, 71, 71);
}

.campaign-card h3 {
    font-size: 18px;
}

.raised-amount-text {
    font-weight: bold;
}

.project-title {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}
.goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px; 
}

.raised-amount-text {
    font-size: 16px; 
    color: #333; 
}

.target-amount {
    font-size: 16px; 
    color: #333; 
    margin: 0;
}
/* Modal for investment */
.modalinvest {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-invest {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close-invest {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-invest:hover,
.close-invest:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    /* Change the color of the spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#transactionOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Responsive styles */
@media (max-width: 1200px) {
    #campaignList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #campaignList {
        grid-template-columns: 1fr;
    }

    .modal-content-invest {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .modal-content-invest {
        width: 90%;
    }

    .overlay-content {
        width: 95%;
    }
}