#projects h4 {
    margin: auto;
    text-transform: uppercase;
}

#projects .short-hr{
    width: 90rem;
    margin: 1rem auto; /* Center horizontally */
    justify-content: center;
}

#campaignList {
    display: flex;
    justify-content: center;
}

#campaignList p {
    margin: 0;
}

.goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px; 
}

.raised-amount-text {
    font-size: 16px; 
    color: #333; 
}

.target-amount {
    font-size: 16px; 
    color: #333; 
    margin: 0;
}


.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #000;
    color: #fff;
}
.projectSection {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    width: 80%;

}

/* POP UP FORM */
#createProjectFormContainer {
    align-items: center;
    top: 10%;
}

.modal-dialog {
    max-width: 800px; /* Increase the max-width to make the form larger */
    margin: 1.75rem auto;
    margin-bottom: 400px; /* Ensure there is a gap below the popup */
}

.modal-content {
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    padding-bottom: 30px; /* Add padding-bottom to create gap below the popup form */
    position: relative; /* Make sure the content is positioned relative to contain the close button */
}

.modal-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #009970;
    text-align: center;
}

.modal-body .form-group {
    margin-bottom: 20px;
}

.modal-body input[type="text"],
.modal-body textarea,
.modal-body input[type="number"],
.modal-body input[type="date"],
.modal-body input[type="file"] {
    width: 100%; /* Ensure form elements take up the full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-body .form-check {
    margin-top: 15px;
    justify-content: center;
}

.modal-body .form-check-input {
    margin-right: 5px;
}

/* Close button styling */
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    text-align: center;
}

.project-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createProjectForm {
    width: 100%;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}